/* General styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Light background color */
    color: #333;
}

/* Header styles */
header {
    background-color: #10015a;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Section styles */
section {
    padding: 4em 2em;
    text-align: center;
}

section h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #051974;
    border-bottom: 2px solid #4CAF50;
    display: inline-block;
    padding-bottom: 0.5em;
}

section p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.6;
}

/* Project styles */
.project {
    margin: 2em 0;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project h3 {
    font-size: 1.5em;
    color: #051974;
    margin-bottom: 0.5em;
}

.project p {
    font-size: 1em;
    line-height: 1.4;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive design */
@media (max-width: 600px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 2em 1em;
    }
}
form {
    margin: 20px 0;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #051974;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #051974;
  }
  